.app {
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    border-color: black;
    border-left: 2px solid;
    border-right: 2px solid;
    display: grid;
    grid-template-rows: auto 1fr;
}

.hat {
    width: 100%;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.booksContainer {
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}