.app {
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    border-color: black;
    border-left: 2px solid;
    border-right: 2px solid;
    display: grid;
    grid-template-rows: auto 1fr;
}

.hat {
    width: 100%;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.booksWrapper {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.booksContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.book {
    width: 150px;
    border: 1px solid black;
}
